div.post.border.rounded.p-2
        h1.title How to write an Express App

        div.avatar.d-flex
            img.me-2.p-1.border.rounded-circle(src="images/avatar.jpeg" alt="avatar" width="50" loading="lazy" height="50"  )
            div.d-flex.flex-column
                span.author Nishu kumar
                span.time 20 Mar 2022
        hr.py-1
        h4.subtitle Express is a node js web application framework that provides broad features for building web and mobile applications. 
        div.post-image.d-flex.pb-2
            img.img-fluid(src="images/post-image.jpg" alt="post-image" loading="lazy")
        p.paragraph Prevent long strings of text from breaking your components’ layout by using .text-break to set word-wrap: break-word and word-break: break-word. We use word-wrap instead of the more common overflow-wrap for wider browser support, and add the deprecated word-break: break-word to avoid issues with flex containers.
        p.paragraph  Prevent long strings of text from breaking your components’ layout by using .text-break to set word-wrap: break-word and word-break: break-word. We use word-wrap instead of the more common overflow-wrap for wider browser support, and add the deprecated word-break: break-word to avoid issues with flex containers.