div.post.border.rounded.p-2.mt-2
    h1.title How to write an Express App
    div.avatar.d-flex.border-bottom.pb-2
        img.me-2.p-1.border.rounded-circle(src="images/avatar.jpeg" alt="avatar" width="50" loading="lazy" height="50"  )
        div.d-flex.flex-column
            span.author Nishu kumar
            span.time 20 Mar 2022 
    div.post-image.d-flex.pb-2
        img.img-fluid(src="images/post-image.jpg" alt="post-image" loading="lazy")
    a.read-more.d-block.text-center.text-white.bg-dark.rounded.p-2(href="#") Read More... 


div.post.border.rounded.p-2.mt-2
    h1.title How to write English
    div.avatar.d-flex.border-bottom.pb-2
        img.me-2.p-1.border.rounded-circle(src="images/avatar.jpeg" alt="avatar" width="50" loading="lazy" height="50"  )
        div.d-flex.flex-column
            span.author Nishu kumar
            span.time 20 Mar 2022 
    div.post-image.d-flex.pb-2
        img.img-fluid(src="images/post-image.jpg" alt="post-image" loading="lazy")
    a.read-more.d-block.text-center.text-white.bg-dark.rounded.p-2(href="#") Read More... 
