extends base
block css 
    link(rel="stylesheet" href="styles/home.css")
block base-content
    include partials/home/navbar.pug
    include partials/home/post.pug
    include partials/home/footer.pug
